<!-- TOPBAR -->
<div class="topbar">
  <div class="admin-crown"><i class="fa-solid fa-crown" style="font-size:11px"></i> ADMINISTRATOR</div>
  <div class="aside-topbar">
    <button class="btn-new">+ Create ticket</button>

    <div class="links-pill" id="btn-logout"><i class="fa-solid fa-link"></i> Log Out</div>


    <div class="topbar-avatar"><img src="https://i.pravatar.cc/60?img=11" alt="Admin"></div>
  </div>
</div>


<!-- CONTENT -->
<div class="content-area">

  <!-- TICKET TABLE -->
  <div class="panel">
    <div class="panel-header">
      <span class="panel-title">Tickets</span>
      <div class="search-small">
        <i class="fa-solid fa-magnifying-glass"></i>
        <input type="text" placeholder="Buscar...">
      </div>
    </div>

    <div class="table-wrap">
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Application</th>
            <th>Applicant</th>
            <th>Technician</th>
            <th>Priority</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody id="tbody">

        </tbody>
      </table>
    </div>
  </div>

   

    <!-- SIDE PANEL -->
    <div class="side-panel">

      <!-- TECHNICAL USERS -->
      <div class="mini-card" style="flex:1; overflow:hidden; display:flex; flex-direction:column;">
        <div class="mini-card-title"><i class="fa-solid fa-users"></i> Técnicos activos</div>
        <div id="table-tech" style="overflow-y:auto; flex:1;"></div>
      </div>
    </div>
  </div>

</div>