<!-- MODAL CREAR TICKET -->
<dialog class="modal-overlay" id="modal-tech">
  <article class="modal">
    <header class="modal-header">
      <h2 class="modal-title">Add Tech</h2>
      <button class="modal-close" id="modal-close-tech" aria-label="Cerrar">
        <i class="fa-solid fa-xmark"></i>
      </button>
    </header>

    <form class="modal-form" id="form-tech">
      <label for="Técnicos">Elige un Técnico:</label>
      <select name="tecnicos" id="tecnicos">
        
      </select>

      <footer class="modal-footer">
        <button type="button" class="btn-cancel" id="btn-cancel-tech">
          Cancel
        </button>
        <button type="submit" class="btn-submit">Add Tech</button>
      </footer>
    </form>
  </article>
</dialog>
