<!-- MODAL CREAR RESERVA -->
<dialog class="modal-overlay" id="modal-ticket">
  <article class="modal">

    <header class="modal-header">
      <h2 class="modal-title" id="ticket-modal-title">Nueva Reserva</h2>
      <button class="modal-close" id="modal-close" aria-label="Cerrar">
        <i class="fa-solid fa-xmark"></i>
      </button>
    </header>

    <form class="modal-form" id="form-ticket">

      <fieldset class="form-group">
        <label for="ticket-title">Reserva</label>
        <input type="text" id="ticket-title" placeholder="Ingrese el nombre de la reserva" required>
      </fieldset>

      <fieldset class="form-group">
        <label for="ticket-desc">Descripción</label>
        <textarea id="ticket-desc" rows="4" placeholder="Describe la reserva" required></textarea>
      </fieldset>

      <div class="form-row">

        <fieldset class="form-group">
          <label for="reservation-date">Fecha de reserva</label>
          <input type="date" id="reservation-date" required>
        </fieldset>

        <fieldset class="form-group">
          <label for="reservation-time">Hora de reserva</label>
          <input type="time" id="reservation-time" required>
        </fieldset>

      </div>

      <div class="form-row">

        <fieldset class="form-group">
          <label for="ticket-prioridad">Prioridad</label>
          <select id="ticket-prioridad" value="">
            <option value="">Select...</option>
            <option value="Imperative">Imperative</option>
            <option value="high">high</option>
            <option value="Medium">Medium</option>
            <option value="Low">Low</option>
          </select>
        </fieldset>

        <fieldset class="form-group">
          <label for="ticket-categoria">Tipo</label>
           <input type="text" id="ticket-type" placeholder="e.g: event, meeting, service" required>
        </fieldset>

      </div>

      <fieldset class="form-group" id="ticket-status-group">
        <label for="ticket-status">Estado</label>
        <select id="ticket-status">
          <option value="In Progress">En proceso</option>
          <option value="Assigned">Asignado</option>
          <option value="Solved">Solucionado</option>
        </select>
      </fieldset>

      <footer class="modal-footer">
        <button type="button" class="btn-cancel" id="btn-cancel">Cancelar</button>
        <button type="submit" class="btn-submit" id="ticket-submit">Crear reserva</button>
      </footer>

    </form>

  </article>
</dialog>
