<!-- TOPBAR -->
<div class="topbar">
  <h1>Mis Reservas</h1>

  <div class="search-wrap">
    <i class="fa-solid fa-magnifying-glass"></i>
    <input id="ticket-search" type="text" placeholder="Buscar reservas">
  </div>

  <button class="btn-new">Crear reserva</button>

  <button class="links-pill" id="btn-logout" type="button">
    <i class="fa-solid fa-link"></i>
    Log Out
  </button>

  <div class="topbar-avatar">
    <img src="https://i.pravatar.cc/60?img=11" alt="Avatar">
  </div>
</div>

<!-- RESERVAS -->
<section id="tickets" class="tickets-grid">

</section>
